@media (max-width: 768px) {

.Titulo {font-size: 1rem;}
.Sub-Titulo {font-size: 0.8rem;}
.Seccion-Titulo {font-size: 1rem;}
.Label-Text {font-size: 0.80rem;}
.url-input {padding: 0.5rem 0.5rem 0.5rem 0.5rem;font-size: 0.75rem;}
.Btn-Pegar {padding: 3px 6px;font-size: 0.6rem;}
.Btn-Buscar-Cancion {padding: 0.5rem 0.8rem;font-size: 0.6rem;}
.Seccion-Footer {font-size: 0.7rem;}

}